params.label = '181112'
params.numints = 1
params.intlen = 16384
params.offset = 2106000
params.calcfile = '/fred/oz002/users/dscott/Calibration/aipscal/frb181112/c1_f0/craftfrb.im'
params.fcm = '/fred/oz002/users/dscott/Calibration/aipscal/frb181112/fcm.txt'
params.hwfile = '/fred/oz002/users/dscott/Calibration/mircal/frb181112/hwdelays_0407_SB7031_20181112222901_round-8.txt'
params.bandpass = '/fred/oz002/users/dscott/Calibration/aipscal/frb181112/bandpass.bp.txt'
params.x_vcraft = '/fred/oz002/users/hcho/craft/python/voltages/FRB181112/ak**/beam00/*.vcraft'
params.y_vcraft = '/fred/oz002/users/hcho/craft/python/voltages/FRB181112/ak**/beam01/*.vcraft'
params.nant = 12