params.label = "180924"
params.numints = 1
params.intlen = 16384
params.offset = 1874193
params.DM = 362.193
params.f0 = 1320.5
params.calcfile = "/fred/oz002/users/dscott/Calibration/aipscal/frb180924/c1_f0/craftfrb.im"
params.fcm = "/fred/oz002/users/dscott/Calibration/aipscal/frb180924/fcm.txt"
params.hwfile = "/fred/oz002/users/dscott/Calibration/SB6635_b18_neweop.hwdelays"
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb180924/noxpol/bandpasses.bp.txt"
params.x_vcraft = "/fred/oz002/users/hcho/craft/python/voltages/FRB180924/ak**/beam36/*.vcraft"
params.y_vcraft = "/fred/oz002/users/hcho/craft/python/voltages/FRB180924/ak**/beam37/*.vcraft"
params.nant = 24
