params.label = "190102"
params.numints = 1
params.intlen = 16384
params.offset = 1880759
params.DM = 364.544
params.f0 = 1271.5
params.calcfile = "/fred/oz002/users/dscott/Calibration/aipscal/frb190102/craftfrb.im"
params.fcm = "/fred/oz002/users/dscott/Calibration/aipscal/frb190102/fcm.txt"
params.hwfile = "/fred/oz002/users/dscott/Calibration/aipscal/frb190102/hwdelays_converted.txt"
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb190102/noxpol/bandpasses.bp.txt"
params.x_vcraft = "/fred/oz002/users/hcho/craft/python/voltages/FRB190102/ak**/beam16/*.vcraft"
params.y_vcraft = "/fred/oz002/users/hcho/craft/python/voltages/FRB190102/ak**/beam17/*.vcraft"
params.nant = 23
