params.label = "190611"
params.numints = 1
params.intlen = 16384
params.offset = 2018819
params.DM = 322.2
params.f0 = 1271.5
params.calcfile = "/fred/oz002/users/dscott/Calibration/aipscal/frb190611/craftfrb.im"
params.fcm = "/fred/oz002/users/dscott/Calibration/aipscal/frb190611/fcm.txt"
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb190611/noxpol/200225/bandpasses.bp.txt"
params.x_vcraft = "$(find ${basedr2}python/voltages/FRB${FRB}.2/ak**/beam26/*.vcraft -not -name "*ak13*" -not -name "*ak19*" -not -name "*ak20*" -not -name "*ak28*" )"
params.y_vcraft = "$(find ${basedr2}python/voltages/frb${frb}.2/ak**/beam27/*.vcraft -not -name "*ak13*" -not -name "*ak19*" -not -name "*ak20*" -not -name "*ak28*" )"
params.nant = 25
