params.label = "190714"
params.numints = 1
params.intlen = 16384
params.offset = 1887164
params.DM = 504.13
params.f0 = 1271.5
params.calcfile = "/fred/oz002/users/dscott/Calibration/aipscal/frb190714/craftfrb.im"
params.fcm = "/fred/oz002/users/dscott/Calibration/aipscal/frb190714/fcm.txt"
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb190714/bandpasses_noxpol_FRB.bp.txt"
params.x_vcraft = "/fred/oz002/users/hcho/craft/python/voltages/FRB190714/ak**/beam56/*.vcraft"
params.nant = 25
