params.label = "190711"
params.numints = 1
params.intlen = 16384
params.offset = 302100
params.DM = 587.5
params.f0 = 1271.5
params.calcfile = "/fred/oz002/users/dscott/Calibration/aipscal/frb190711/craftfrb.im"
params.fcm = "/fred/oz002/users/dscott/Calibration/aipscal/frb190711/fcm.txt"
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb190711/noxpol/bandpasses_noxpol.bp.txt"
params.x_vcraft = "/fred/oz002/users/hcho/craft/python/voltages/FRB190711/ak**/beam30/*.vcraft"
params.y_vcraft = "/fred/oz002/users/hcho/craft/python/voltages/FRB190711/ak**/beam31/*.vcraft"
params.nant = 28
