params.label = "191228"
params.numints = 1
params.intlen = 16384
params.offset = 1576224
params.DM = 296.5
params.f0 = 1271.5
params.calcfile = "/fred/oz002/users/dscott/Calibration/aipscal/frb191228/craftfrb.im"
params.fcm = "/fred/oz002/users/dscott/Calibration/aipscal/frb191228/fcm.txt"
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb191228/noxpol/bandpasses_noxpol.bp.txt"
params.x_vcraft = "/fred/oz002/users/hcho/craft/python/voltages/FRB191228/ak**/beam42/*.vcraft"
params.y_vcraft = "/fred/oz002/users/hcho/craft/python/voltages/FRB191228/ak**/beam43/*.vcraft"
params.nant = 21
