params.label = "200430"
params.numints = 1
params.intlen = 58240
params.offset = 0
params.DM = 0
params.f0 = 864.5
params.calcfile = "/fred/oz002/askap/craft/frb200430/frb/data.1ms.dmshift2/c1_f0/craftfrb_204531.im"
params.fcm = "/fred/oz002/askap/craft/frb200430/frb/data.1ms.dmshift2/c1_f0/fcm.txt"
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb200430/bandpasses_noxpol_FRB200430.bp.txt"
params.x_vcraft = "/fred/oz002/askap/craft/frb200430/frb/rawdata/SB13593/20200430154900/ICS/C000/ak**/beam48/*.vcraft"
params.y_vcraft = "/fred/oz002/askap/craft/frb200430/frb/rawdata/SB13593/20200430154900/ICS/C000/ak**/beam49/*.vcraft"
params.nant = 26
