params.label = "20201124a.0"
params.numints = 1
params.intlen = 44000
params.offset = 16384
params.DM = 412.0
params.f0 = 863.5
params.calcfile = "/fred/oz002/askap/craft/frb20201124a/frb/data.1ms/c1_f1/craftfrb_61017.im"
params.fcm = "/fred/oz002/askap/craft/frb20201124a/frb/data.1ms/c1_f1/fcm.txt"
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb20201124a/bandpasses_noxpol_FRB20201124a.bp.txt"
params.x_vcraft = "/fred/oz002/askap/craft/frb20201124a/frb/rawdata/SB25529/20210401111219/ICS/C000/ak**/beam10/*vcraft"
params.y_vcraft = "/fred/oz002/askap/craft/frb20201124a/frb/rawdata/SB25529/20210401111219/ICS/C000/ak**/beam11/*vcraft"
params.nant = 21
