params.label = "210117"
params.numints = 1
params.intlen = 44000
params.offset = 0
params.DM = 731.02
params.f0 = 1271.5
params.calcfile = "/fred/oz002/askap/craft/frb210117/frb/data.0.5ms/c5_f5/craftfrb_170431.im"
params.fcm = "/fred/oz002/askap/craft/frb210117/0407/fcm.txt.21451"
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb210117/bandpasses_noxpol_FRB210117.bp.txt"
params.x_vcraft = "/fred/oz002/askap/craft/frb210117/frb/rawdata/SB21451/20210117074531/ICS/C000/ak**/beam04/*vcraft"
params.y_vcraft = "/fred/oz002/askap/craft/frb210117/frb/rawdata/SB21451/20210117074531/ICS/C000/ak**/beam05/*vcraft"
params.nant = 26
