params.label = "210320"
params.numints = 1
params.intlen = 44000
params.offset = 0
params.DM = 384.593
params.f0 = 863.5
params.calcfile = "/fred/oz002/askap/craft/frb210320/frb/data.0.5ms/c5_f5/craftfrb_246326.im"
params.fcm = "/fred/oz002/askap/craft/frb210320/1934/fcm.txt.25045"
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb210320/bandpasses_noxpol_FRB210320.bp.txt"
params.x_vcraft = "/fred/oz002/askap/craft/frb210320/frb/rawdata/SB25045/20210320182046/ICS/C000/ak**/beam52/*vcraft"
params.y_vcraft = "/fred/oz002/askap/craft/frb210320/frb/rawdata/SB25045/20210320182046/ICS/C000/ak**/beam53/*vcraft"
params.nant = 24
