params.label = "210407"
params.numints = 1
params.intlen = 44000
params.offset = 0
params.DM = 1784
params.f0 = 1271.5
params.calcfile = "/fred/oz002/askap/craft/frb210407/frb/data/c1_f1/craftfrb_242860.im"
params.fcm = "/fred/oz002/askap/craft/frb210407/frb/data/c1_f1/fcm.txt"
params.hwfile = ""
params.bandpass = "/fred/oz002/users/dscott/Calibration/aipscal/frb210407/bandpasses_noxpol_FRB210407.bp.txt"
params.x_vcraft = "/fred/oz002/askap/craft/frb210407/frb/rawdata/SB25853/20210407110134/ICS/C000/ak**/beam64/*c[1-5]*vcraft"
params.y_vcraft = "/fred/oz002/askap/craft/frb210407/frb/rawdata/SB25853/20210407110134/ICS/C000/ak**/beam65/*c[1-5]*vcraft"
params.nant = 20
